/* .window - Основной контейнер для окна чата */
.window {
  display: grid;
  /* Используем CSS Grid для создания сетки */
  grid-template-columns: 3fr 10fr;
  /* Определяем две колонки: 3 части на список контактов и 10 частей на область чата */
  height: 100vh;
  /* Высота окна чата будет равна высоте экрана (100% от высоты окна браузера) */
}

/* .list - Список сообщений или чатов */
.list {
  display: flex;
  /* Используем flexbox для выравнивания содержимого */
  align-items: center;
  /* Выравниваем элементы по вертикали */
  flex-direction: column;
  /* Располагаем элементы по вертикали */
  padding: 20px;
  /* Отступы внутри контейнера */
  gap: 30px;
  /* Расстояние между элементами */
  flex: 1;
  /* Контейнер будет растягиваться, занимая доступное пространство */
  overflow-y: auto;
  /* Добавляем вертикальную прокрутку, если содержимого больше, чем можно отобразить */
}

/* .list::-webkit-scrollbar - Отключаем отображение скроллбара */
.list::-webkit-scrollbar {
  display: none;
}

/* .emptyList - Стиль для контейнера, когда список пуст */
.emptyList {
  display: flex;
  /* Используем flexbox для выравнивания содержимого */
  flex: 1 1;
  /* Элемент может растягиваться и сжиматься, занимая доступное пространство */
  align-items: center;
  /* Центрируем элементы по вертикали */
  justify-content: center;
  /* Центрируем содержимое по горизонтали */
  flex-direction: column;
  /* Располагаем элементы по вертикали */
}
