.content {
  display: flex;
  /* Используем flexbox для расположения элементов в контейнере */
  align-items: center;
  /* Выравнивание элементов по вертикали (по центру) */
  padding-top: 100px;
  /* Отступ сверху для расположения контента ниже отступа */
  justify-content: center;
  /* Выравнивание элементов по горизонтали (по центру) */
  font-size: 30px;
  /* Устанавливаем размер шрифта для текста в контейнере */
  font-weight: bold;
  /* Устанавливаем жирное начертание текста */
}
