.search {
  display: flex;
  /* Используем flexbox для компоновки */
  flex-direction: column;
  /* Располагаем элементы вертикально */
  align-items: center;
  /* Центрируем элементы по горизонтали */
  width: 100%;
  /* Занимает всю доступную ширину */
  margin-bottom: 20px;
  /* Отступ снизу */
}

.search h1 {
  margin-bottom: 10px;
  /* Отступ снизу для заголовка */
  color: var(--app-background);
  /* Цвет текста заголовка */
  font-size: 28px;
  /* Размер шрифта для заголовка */
}

.input_wrapper {
  display: flex;
  /* Используем flexbox для расположения элементов в строку */
}

.search_btn {
  background-color: var(--primary-background);
  /* Цвет фона кнопки поиска */
}

.input {
  border: 1px solid var(--app-background);
  /* Рамка вокруг поля ввода */
  outline: none;
  /* Убираем стандартную обводку при фокусе */
  font-size: 15px;
  /* Размер шрифта в поле ввода */
  height: 35px;
  /* Высота поля ввода */
  padding-left: 10px;
  /* Отступ слева внутри поля ввода */
}
