.item {
  width: 100%;
}

.post {
  display: grid;
  grid-template-areas: "pic post reactions delete";
  grid-template-columns: max-content 1fr max-content;
  align-items: center;
  grid-gap: 20px;
  background-color: var(--content-background-1);
  padding: 20px;
}

.avatar {
  grid-area: pic;
  width: 70px;
  border-radius: 50%;
}

.post_message {
  display: flex;
  flex-direction: column;
  grid-area: post;
  font-size: 18px;
}

.post_name {
  font-weight: 600;
  margin-bottom: 5px;
}

.post_content {
  display: flex;
  gap: 10px;
}

.post_time {
  opacity: 30%;
}

.delete {
  grid-area: delete;
  font-size: 35px;
  font-weight: 600;
  color: var(--app-background);
  transform: rotate(90deg);
  background-color: transparent;
}

.comments {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  background-color: var(--comment-background);
  overflow: hidden; /* Скрыть переполнение */
  opacity: 0; /* Изначально невидимо */
  transition: opacity 0.6s ease, transform 0.6s ease; /* Плавный переход */
  transform: translateY(-20px); /* Сдвиг вверх для эффекта появления */
}

.visible {
  opacity: 1; /* Сделать видимым */
  transform: translateY(0); /* Вернуть на место */
}
