/* Основной контейнер поста */
.item {
  width: 100%; /* Растягиваем пост на всю ширину */
  margin-bottom: 30px;
}

/* Разметка и стили для поста */
.post {
  display: grid; /* Используем грид для размещения элементов */
  grid-template-areas: "pic post reactions delete"; /* Определяем зоны */
  grid-template-columns: max-content 1fr max-content; /* Колонки: аватар, текст, реакции, кнопка удаления */
  align-items: center; /* Выравнивание элементов по центру */
  grid-gap: 20px; /* Расстояние между элементами */
  background-color: var(--content-background-1); /* Фон */
  padding: 20px; /* Внутренние отступы */
}

/* Стили для аватара */
.avatar {
  grid-area: pic; /* Закрепляем аватар в зоне pic */
  width: 70px; /* Размер */
  border-radius: 50%; /* Скругление */
}

/* Контейнер для текста поста */
.post_message {
  display: flex;
  flex-direction: column; /* Располагаем текст вертикально */
  grid-area: post; /* Зона для текста */
  font-size: 18px; /* Размер шрифта */
}

/* Имя пользователя */
.post_name {
  font-weight: 600; /* Жирный текст */
  margin-bottom: 5px; /* Отступ вниз */
}

/* Контейнер для основного контента поста */
.post_content {
  display: flex;
  gap: 10px; /* Расстояние между элементами */
}

/* Время публикации поста */
.post_time {
  opacity: 30%; /* Полупрозрачность */
}

/* Кнопка удаления поста */
.delete {
  grid-area: delete; /* Размещение в зоне delete */
  font-size: 35px; /* Размер */
  font-weight: 600; /* Жирность */
  color: var(--app-background); /* Цвет */
  transform: rotate(90deg); /* Поворот */
  background-color: transparent; /* Прозрачный фон */
}

/* Контейнер для комментариев */
.comments {
  display: flex;
  flex-direction: column; /* Вертикальное расположение */
  gap: 20px; /* Отступ между комментариями */
  padding: 20px; /* Внутренние отступы */
  background-color: var(--comment-background); /* Фон комментариев */
  overflow: hidden; /* Скрыть переполнение */
  opacity: 0; /* Скрыть изначально */
  transition: opacity 0.6s ease, transform 0.6s ease; /* Анимация появления */
  transform: translateY(-20px); /* Сдвиг вверх */
}

/* Класс для отображения комментариев */
.visible {
  opacity: 1; /* Делаем видимым */
  transform: translateY(0); /* Убираем сдвиг */
}
