/* .box - Контейнер для формы, который использует flexbox для выравнивания содержимого */
.box {
  display: flex;
  /* Устанавливаем flex-контейнер для выравнивания */
  flex-direction: column;
  /* Размещаем элементы по вертикали */
  align-items: center;
  /* Центрируем элементы по горизонтали */
  position: relative;
  /* Позволяет позиционировать элементы относительно этого контейнера */
}

/* .form - Контейнер для формы, который также использует flexbox */
.form {
  display: flex;
  /* Используем flexbox для горизонтального размещения элементов формы */
}

/* .input - Стиль для текстового поля (input) */
.input {
  width: 100%;
  /* Текстовое поле занимает всю доступную ширину родительского контейнера */
  height: 50px;
  /* Устанавливаем фиксированную высоту для текстового поля */
  outline: none;
  /* Убираем стандартное обводку при фокусе на поле */
  border: none;
  /* Убираем границу у поля */
  font-size: 25px;
  /* Устанавливаем размер шрифта для текста в поле */
  padding-left: 10px;
  /* Добавляем отступ слева для текста внутри поля */
  color: var(--app-background);
  /* Устанавливаем цвет текста через переменную CSS */
}

/* .button - Стиль для кнопки в форме */
.button {
  background-color: transparent;
  /* Устанавливаем прозрачный фон для кнопки */
}

/* Медиазапрос для экранов с шириной меньше 650px */
@media (max-width: 650px) {

  /* Уменьшаем размер шрифта в текстовом поле на мобильных устройствах */
  .input {
    font-size: 15px;
    /* Уменьшаем размер шрифта до 15px для мобильных экранов */
  }
}
