/* Контейнер для содержимого */
.content {
  padding: 0 30px;
  /* Отступы слева и справа */
  display: grid;
  /* Используем сетку */
  grid-gap: 10px;
  /* Пробел между элементами */
  max-height: 1000px;
  /* Высота контейнера */
  overflow-y: auto;
  /* Вертикальная прокрутка, если контент не помещается */
}

/* Убираем отображение полосы прокрутки */
.content::-webkit-scrollbar {
  display: none;
}

/* Список постов */
.list {
  display: flex;
  /* Используем flex для вертикального расположения */
  flex-direction: column-reverse;
  /* Элементы будут отображаться в обратном порядке */
  padding: 0;
  /* Пробел между элементами списка */
  margin-bottom: 50px;
  /* Отступ снизу */
}

/* Спиннер для загрузки */
.spinner {
  display: flex;
  /* Flex для центрирования */
  justify-content: center;
  /* Выравнивание по горизонтали */
  align-items: center;
  /* Выравнивание по вертикали */
}

.emptyText {
  display: flex;
  justify-content: center;
  font-size: 20px;
  color: var(--app-background);
}
