/* Контейнер для кнопок с отступами между ними и выравниванием по центру */
.btn_wrapper {
  display: flex;
  /* Используем flexbox для распределения кнопок */
  gap: 20px;
  /* Отступ между кнопками */
  justify-content: center;
  /* Выравнивание кнопок по горизонтали по центру */
  align-items: center;
  /* Выравнивание кнопок по вертикали по центру */
  width: 100%;
  /* Контейнер будет растягиваться на всю ширину */
  padding: 20px;
  /* Отступы внутри контейнера */
}

/* Стиль для кнопки */
.button {
  width: 20%;
  /* Ширина кнопки составляет 20% от ширины контейнера */
  background-color: var(--button-background-2);
  /* Цвет фона кнопки */
  padding: 10px;
  /* Отступы внутри кнопки */
  transition: color .3s ease-in-out, background-color .3s ease-in-out, border-color .3s;
  /* Плавные переходы для цвета текста, фона и границы */
}

/* Эффект при наведении на кнопку */
.button:hover {
  border: 1px solid var(--profile-button-text-color);
  /* При наведении добавляется граница с определенным цветом */
}

/* Стиль для ссылки, которая выглядит как кнопка */
.link {
  width: 100%;
  /* Ссылка занимает всю ширину контейнера */
  color: var(--basic-text-color);
  /* Цвет текста */
  font-size: 20px;
  /* Размер шрифта */
  font-weight: bold;
  /* Жирный шрифт */
  padding: 10px 70px;
  /* Отступы внутри ссылки */
}
