.item {
  display: flex;
  width: 48%;
  min-height: 350px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: var(--primary-background);
}

.poster_wrapper {
  width: 45%;
}

.poster_wrapper h4,
.poster_wrapper span {
  font-size: 22px;
  margin-bottom: 5px;
  color: var(--primary-text-color);
}

.avatar {
  width: 100%;
  min-height: 300px;
  margin-bottom: 5px;
  object-fit: cover;
}

.content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.description {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  height: 300px;
  overflow-y: auto;
  scrollbar-width: none;
}

.description::-webkit-scrollbar {
  display: none;
}

.description h3 {
  font-size: 24px;
  margin-bottom: 15px;
  color: var(--primary-text-color);
}

.description span {
  font-size: 22px;
  color: var(--primary-text-color);
  margin-bottom: 10px;
}

.button {
  position: relative;
  width: 100%;
  padding: 20px;
  font-size: 20px;
  font-weight: 600;
  background-color: var(--button-background-1);
}

.button a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 8px;
  right: 0;
  color: var(--text-color-1);
}

.button:hover {
  opacity: 0.7;
}


@media (max-width: 1260px) {
  .item {
    width: 70%;
  }
}

@media (max-width: 850px) {
  .item {
    width: 100%;
    flex-direction: column;
  }

  .item span {
    display: none;
  }

  .poster_wrapper {
    width: 100%;
  }

  .poster_wrapper h4 {
  font-size: 28px;
  margin-bottom: 5px;
  color: var(--primary-text-color);
  }

  .content {
    width: 100%;
    padding: 20px 0;
  }

  .description {
    align-items: center;
    height: 50px;
  }

  .description h3 {
    font-size: 25px;
  }
}
