/* Контейнер формы, занимающий всю ширину и выравнивающий элементы по центру */
.form {
  width: 100%;
  /* Форма занимает всю доступную ширину */
  align-items: center;
  /* Выравнивание элементов по центру по горизонтали */
  display: flex;
  /* Использование flexbox для организации элементов */
  flex-direction: column;
  /* Элементы внутри формы располагаются вертикально */
}

/* Стили для кнопки */
.button {
  width: 150px;
  /* Ширина кнопки 150px */
  background-color: var(--button-background-2);
  /* Цвет фона кнопки, определённый в переменной */
  color: var(--basic-text-color);
  /* Цвет текста на кнопке, определённый в переменной */
  padding: 10px;
  /* Отступы внутри кнопки */
  font-size: 15px;
  /* Размер шрифта на кнопке */
}
