.form {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.button {
  width: 150px;
  background-color: var(--button-background-3);
  color: var(--basic-text-color-2);
  padding: 10px;
  font-size: 15px;
}
