.container {
  display: flex;
  /* Используем flexbox для распределения элементов */
  justify-content: space-between;
  /* Распределяем элементы по горизонтали с равными промежутками между ними */
  padding: 0 30px;
  /* Добавляем отступы по 30px с обеих сторон контейнера */
  height: 100%;
  /* Высота контейнера занимает 100% высоты экрана */
}
