.content {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  height: 100%;
  background-color: var(--button-background-2);
}

.list {
  display: flex;
  flex-direction: column-reverse;
  height: 635px;
  overflow-y: auto;
  scrollbar-width: none;
  margin-bottom: 30px;
}

.list::-webkit-scrollbar {
  display: none;
}
