/* .content - Контейнер для основной области чата */
.content {
  display: flex;
  /* Используем flexbox для упорядочивания элементов */
  flex-direction: column-reverse;
  /* Элементы будут располагаться в обратном порядке (снизу вверх) */
  justify-content: flex-end;
  /* Выравнивание элементов по нижнему краю контейнера */
  height: 100%;
  /* Высота контейнера занимает всю доступную высоту родительского элемента */
  background-color: var(--button-background-2);
  /* Фон устанавливается через переменную CSS */
}

/* .list - Список сообщений чата */
.list {
  display: flex;
  /* Используем flexbox для выравнивания элементов внутри списка */
  flex-direction: column-reverse;
  /* Располагаем сообщения в обратном порядке (новые сообщения снизу) */
  height: 635px;
  /* Ограничиваем высоту списка сообщений */
  overflow-y: auto;
  /* Разрешаем прокрутку по вертикали */
  scrollbar-width: none;
  /* Убираем видимость скроллбара на элементах Firefox */
  margin-bottom: 30px;
  /* Отступ снизу */
}

/* Скрываем скроллбар для браузеров, поддерживающих Webkit (например, Chrome и Safari) */
.list::-webkit-scrollbar {
  display: none;
  /* Скрываем сам скроллбар */
}

/* .spinner - Спиннер для загрузки (при загрузке данных) */
.spinner {
  display: flex;
  /* Flexbox для выравнивания элементов внутри контейнера */
  justify-content: center;
  /* Выравнивание по горизонтали */
  align-items: center;
  /* Выравнивание по вертикали */
  height: 700px;
  /* Высота контейнера с загрузочным спиннером */
}
