.app_language,
.post_translation {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 50px;
  background-color: #194770;
  padding: 20px;
}

.title {
  color: #ffffff;
  padding: 5px;
  font-size: 25px;
  margin-bottom: 10px;
}

.app_language label,
.post_translation label {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 23px;
  background-color: #ffffff;
  padding: 10px;
  color: #194770;
}


.reactSelect {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-size: 20px;
  outline: none;
  background-color: #e2eaff;
  padding: 2px;
  cursor: pointer;
}

.reactSelect__control {
  outline: none;
  padding: 5px;
  background-color: #e2eaff;
}

.reactSelect__menu {
  background-color: #e2eaff;
}

.post_translation input {
  width: 40px;
  height: 20px;
  border: 2px solid #194770;
}

.button {
  padding: 15px;
  background-color: #194770;
  color: #fff;
  font-size: 20px;
}
