.item {
  width: 100%;
}

.post {
  display: grid;
  grid-template-areas: "pic post reactions delete";
  grid-template-columns: max-content 1fr max-content;
  align-items: center;
  grid-gap: 20px;
  background-color: #ffffff;
  padding: 20px;
}

.avatar {
  grid-area: pic;
  width: 70px;
  border-radius: 50%;
}

.post_message {
  grid-area: post;
  font-size: 18px;
}

.delete {
  grid-area: delete;
  font-size: 35px;
  font-weight: 600;
  color: #194770;
  transform: rotate(90deg);
  background-color: transparent;
}

.comments {
  width: 100%;
  max-height: 0; /* Изначально скрыто */
  overflow: hidden; /* Скрыть переполнение */
  transition: max-height 0.8s ease-in-out, transform 0.8s ease-in-out; /* Плавный переход */
  transform: translateY(-10px); /* Позиционирование по умолчанию */
}

.visible {
  max-height: 500px; /* Убедитесь, что значение достаточно для всех комментариев */
  transform: translateY(0); /* Вернуть на место */
}
