.item {
  display: grid;
  grid-template-areas: "pic post reactions";
  grid-template-columns: max-content 1fr max-content;
  align-items: center;
  grid-gap: 30px;
  background-color: #ffffff;
  padding: 20px 25px 20px 20px;
  border-radius: 10px;
}

.avatar {
  grid-area: pic;
  width: 70px;
  border-radius: 50%;
}

.post {
  grid-area: post;
  font-size: 18px;
}
