.btn__box {
  grid-area: reactions;
  grid-template-areas: "comment like";
  display: grid;
  gap: 5px;
  align-items: center;
}

.btn__comment,
.btn__likeBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-width: 60px;
  height: 60px;
}

.btn__commentSvg,
.btn__like {
  width: 40px;
  height: 35px;
}

.btn__likeCount,
.btn__commentCount {
  color: red;
  font-size: 18px;
}

.btn__commentSvg {
  border-radius: 30px;
  background-color: transparent;
}

.btn__like {
  position: relative;
  background-color: transparent;
}

.btn__likeSvg {
  position: absolute;
  width: 16px; /* Ширина кнопки */
  height: 16px; /* Высота кнопки */
  background-color: #194770; /* Цвет сердца */
  border: none;
  outline: none;
  cursor: pointer;
  transform: rotate(-45deg); /* Поворот для создания формы сердца */
  top: 10px;
  right: 12px;
}

.btn__likeSvg::before,
.btn__likeSvg::after {
  content: "";
  position: absolute;
  width: 16px; /* Размер верхних полукругов */
  height: 16px; /* Размер верхних полукругов */
  background-color: #194770; /* Цвет сердца */
  border-radius: 50%; /* Создание полукруга */
}

.btn__likeSvg::before {
  top: -10px; /* Расположение верхнего полукруга */
  left: 0;
}

.btn__likeSvg::after {
  left: 10px; /* Расположение правого полукруга */
  top: 0;
}


