.anime_filter {
  /* Стили для контейнера фильтра аниме */
  display: flex;
  justify-content: center;
  /* Выравнивание кнопок по центру */
  width: 100%;
  /* Ширина контейнера 100% */
  margin-bottom: 35px;
  /* Отступ снизу */
}

.button {
  /* Стили для кнопок фильтров */
  cursor: pointer;
  /* Указатель при наведении */
  font-size: 25px;
  /* Размер шрифта */
  font-weight: 600;
  /* Жирный шрифт */
  margin-right: 30px;
  /* Отступ справа */
  color: var(--text-color-1);
  /* Цвет текста */
  padding: 10px 15px;
  /* Отступы внутри кнопки */
  background-color: var(--button-background-1);
  /* Цвет фона кнопки */
  opacity: 60%;
}

.button:hover {
  scale: 1.1;
}

.active {
  opacity: 100%;
  scale: 1.1;
}

@media (max-width: 990px) {
  .button {
    font-size: 20px;
    /* Размер шрифта */
  }
}

@media (max-width: 660px) {
  .button {
    padding: 5px;
    /* Отступы внутри кнопки */
  }
}
