.anime_filter {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 15px;
}

.button {
  cursor: pointer;
  font-size: 25px;
  font-weight: 600;
  margin-right: 30px;
  color: var(--text-color-1);
  padding: 10px 15px;
  background-color: var(--button-background-1);
}

.button:hover {
  opacity: 70%;
}
