/* Общие стили для формы */
.form {
  display: flex;
  /* Используем flexbox для выравнивания элементов */
  flex-direction: column;
  /* Элементы располагаются по вертикали */
  justify-content: space-between;
  /* Равномерное распределение элементов */
  width: 100%;
  /* Форма занимает всю доступную ширину */
}

/* Группа элементов формы (метки и поля ввода) */
.formGroup {
  display: flex;
  /* Используем flexbox для выравнивания метки и поля ввода */
  justify-content: space-between;
  /* Равномерное распределение между меткой и полем ввода */
  margin-bottom: 5px;
  /* Отступ между группами */
}

/* Стили для меток полей ввода */
.label {
  font-size: 20px;
  /* Размер шрифта для метки */
  font-weight: bold;
  /* Жирный шрифт */
  margin-right: 20px;
  /* Отступ справа от метки */
}

/* Стили для полей ввода и выпадающих списков */
.input,
.select {
  width: 100%;
  /* Поля занимают всю доступную ширину */
  color: #000000;
  /* Черный текст */
  font-size: 17px;
  /* Размер шрифта в поле */
}

/* Блок для полей ввода (половина ширины) */
.input_box {
  width: 50%;
  /* Ширина блока 50% от доступного пространства */
  gap: 2px;
  /* Небольшой промежуток между элементами */
  min-height: 40px;
  /* Минимальная высота блока */
  display: flex;
  /* Используем flexbox для выравнивания элементов внутри блока */
  flex-direction: column;
  /* Элементы внутри блока располагаются вертикально */
}

/* Стили для текста ошибки */
.errorText {
  font-size: 19px;
  /* Размер шрифта для текста ошибки */
  color: red;
  /* Красный цвет текста */
}
