.content,
.wrapper,
.friends {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.content {
  padding: 0 120px;
  margin: 0 auto;
}

.wrapper {
  padding: 30px;
  width: 100%;
  height: 100vh;
  overflow: auto;
  background-color: var(--white-color);
}

.wrapper::-webkit-scrollbar {
  display: none;
}

.search_wrapper {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  margin-bottom: 15px;
}

.search_wrapper input {
  padding-left: 10px;
  width: 30%;
  height: 35px;
  font-size: 19px;
  outline: none;
  border: 1px solid var(--app-background);
}

.search_wrapper button {
  height: 100%;
  background-color: var(--content-background-3);
}

.title {
  color: var(--app-background);
  margin-bottom: 15px;
}

.text {
  font-size: 20px;
  margin-bottom: 15px;
  color: var(--app-background);
}

.list {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: flex-end;
  padding: 20px;
}

.list::-webkit-scrollbar {
  display: none;
}

.empty_message {
  display: flex;
  align-items: center;
  font-size: 22px;
  color: var(--app-background);
  height: 700px;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
}
