/* Контейнер для кнопок реакций (лайки, комментарии) */
.btn__box {
  grid-area: reactions;
  grid-template-areas: "comment like";
  display: grid;
  align-items: center;
  gap: 10px;
}

/* Общий стиль для кнопок комментариев и лайков */
.btn__comment,
.btn__likeBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-width: 50px;
  height: 60px;
}

/* Размеры иконок комментариев и лайков */
.btn__commentSvg,
.btn__like {
  width: 40px;
  height: 35px;
}

/* Цвет и размер счетчиков лайков и комментариев */
.btn__likeCount,
.btn__commentCount {
  color: red;
  font-size: 18px;
}

/* Кнопка комментария (прозрачный фон, скругленные края) */
.btn__commentSvg {
  border-radius: 30px;
  background-color: transparent;
}

/* Кнопка лайка (без фона, позиционирование) */
.btn__like {
  position: relative;
  background-color: transparent;
}

/* Стилизация иконки лайка (сердца) */
.btn__likeSvg {
  position: absolute;
  border: none;
  outline: none;
  cursor: pointer;
  transform: rotate(-45deg); /* Поворот для создания формы сердца */
  top: 10px;
  right: 12px;
}

/* Основные параметры иконки лайка и её псевдоэлементов */
.btn__likeSvg, .btn__likeSvg::before,
.btn__likeSvg::after {
  width: 16px; /* Ширина кнопки */
  height: 16px; /* Высота кнопки */
  background-color: #194770; /* Цвет сердца */
  transition: background-color 0.3s ease-in-out;
}

/* Псевдоэлементы для формирования сердца */
.btn__likeSvg::before,
.btn__likeSvg::after {
  content: "";
  position: absolute;
  border-radius: 50%; /* Создание полукруга */
}

/* Верхний полукруг сердца */
.btn__likeSvg::before {
  top: -10px; /* Расположение верхнего полукруга */
  left: 0;
}

/* Правый полукруг сердца */
.btn__likeSvg::after {
  left: 10px; /* Расположение правого полукруга */
  top: 0;
}

/* Стилизация лайкнутого сердца (красный цвет) */
.liked .btn__likeSvg::before,
.liked .btn__likeSvg::after,
.liked .btn__likeSvg {
  background-color: #db0303;
}
