.list {
  display: grid;
  grid-gap: 10px;
  margin-bottom: 100px;
}

.item:first-child {
  padding-top: 20px;
}

.item:nth-child(4n) {
  margin-bottom: 50px;
}

.link {
  color: #dcdcff;
  font-size: 30px;
  font-weight: 500;
}

.active {
  color: #a4fde5;
}

