.button {
  padding: 15px;
  font-size: 20px;
  font-weight: bold;
  opacity: 100%;
  background-color: var(--button-background-1);
  color: var(--button-txt-color-2);
  transition: color .3s ease-in-out, background-color .3s ease-in-out, border-color .3s ease-in-out;
}

.button:hover {
  background-color: var(--white-color);
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

.button:disabled {
  background-color: var(--black-color);
  color: var(--basic-text-color-2);
  border: none;
  opacity: 0.5;
}
