.button {
  padding: 15px;
  font-size: 20px;
  font-weight: bold;
  opacity: 100%;
  background-color: var(--button-background-1);
  color: var(--text-color-1);
  transition: color .3s ease-in-out, background-color .3s ease-in-out, border-color .3s ease-in-out;
}

.button:hover {
  background-color: var(--white-color);
  border: 1px solid var(--app-background);
  color: var(--app-background);
}

.button:disabled {
  background-color: var(--disabled-button-color);
  color: var(--basic-text-color);
  border: none;
  opacity: 0.5;
}
