/* .dropdown - Стиль для выпадающего списка */
.dropdown {
  display: flex;
  /* Используем flexbox для вертикального выравнивания элементов */
  flex-direction: column;
  /* Располагаем элементы по вертикали */
  position: absolute;
  /* Позиционируем контейнер относительно ближайшего родительского с position: relative */
  top: 50px;
  /* Отступ сверху от родительского элемента */
  width: 100%;
  /* Ширина списка равна ширине родительского контейнера */
  background-color: var(--primary-background);
  /* Фоновый цвет списка через CSS-переменную */
  overflow-y: auto;
  /* Разрешаем вертикальную прокрутку при необходимости */
  max-height: 200px;
  /* Ограничиваем высоту списка до 200px */
  scrollbar-width: none;
  /* Убираем стандартный скроллбар в Firefox */
}

/* Убираем скроллбар в браузере Webkit (например, Chrome, Safari) */
.dropdown::-webkit-scrollbar {
  display: none;
}

/* .contact - Стиль для каждого элемента контакта в списке */
.contact {
  margin-bottom: 15px;
  /* Отступ снизу для каждого элемента */
}

/* Стиль для контакта при наведении */
.contact:hover {
  background-color: var(--card-background);
  /* Изменяем фон при наведении на контакт */
}

/* Изменяем цвет имени контакта при наведении */
.contact:hover .name {
  color: var(--app-background);
  /* Меняем цвет имени при наведении на контакт */
}

/* .avatar - Стиль для аватара контакта */
.avatar {
  width: 50px;
  /* Ширина аватара */
  height: 50px;
  /* Высота аватара */
  border-radius: 50%;
  /* Округляем аватар до круга */
  margin-right: 10px;
  /* Отступ справа от аватара */
}

/* .button - Стиль для кнопки в контакте */
.button {
  display: flex;
  /* Используем flexbox для выравнивания содержимого кнопки */
  align-items: center;
  /* Выравниваем элементы по вертикали */
  background-color: transparent;
  /* Убираем фон кнопки */
  padding: 15px 20px;
  /* Добавляем отступы внутри кнопки */
  width: 100%;
  /* Ширина кнопки 100% от доступной */
}

/* .name - Стиль для имени контакта */
.name {
  color: var(--primary-text-color);
  /* Цвет имени через CSS-переменную */
  font-size: 20px;
  /* Размер шрифта имени */
  font-weight: 600;
  /* Устанавливаем жирность шрифта */
}

/* Медиазапрос для экранов с шириной меньше 650px */
@media (max-width: 650px) {

  /* Уменьшаем размер шрифта для контакта на мобильных устройствах */
  .contact {
    font-size: 14px;
    /* Уменьшаем размер шрифта до 14px */
  }

  /* Скрываем аватарку контакта на мобильных устройствах */
  .contact img {
    display: none;
    /* Скрываем изображение (аватар) на маленьких экранах */
  }
}
