.box {
  display: flex;
  flex-direction: column;
  position: relative;
}

.form {
  display: flex;
}

.input {
  width: 200px;
  height: 30px;
  outline: none;
  border: none;
  background-color: #bfd1ff;
  color: #194770;
}

.button {
  background-color: transparent;
}


@media (max-width: 650px) {
  .input {
    width: 90px;
  }
}
