.list {
  display: flex;
  /* Использование flexbox для расположения элементов */
  flex-direction: column;
  /* Расположение элементов по вертикали */
  gap: 10px;
  /* Отступ между элементами списка */
  padding: 0;
  /* Убирает отступы вокруг списка */
}

.item {
  font-size: 25px;
  /* Размер шрифта для элементов списка */
  margin-bottom: 10px;
  /* Отступ снизу для элементов списка */
  color: var(--primary-text-color);
  /* Цвет текста */
  text-decoration-line: underline;
  /* Подчеркивание текста */
}

.button {
  opacity: 70%;
  padding: 15px;
  /* Внутренние отступы для кнопки */
  font-size: 20px;
  /* Размер шрифта для кнопки */
  font-weight: bold;
  /* Жирное начертание шрифта */
  background-color: var(--button-background-1);
  /* Цвет фона кнопки */
  transition: color .3s ease-in-out, background-color .3s ease-in-out, border-color .3s ease-in-out;
  /* Плавные переходы для изменения цветов */
}

.button:hover {
  opacity: 100%;
  border: 1px solid var(--app-background);
}

.link {
  color: var(--text-color-1);
  /* Цвет текста ссылки */
  padding: 15px 95px;
  /* Внутренние отступы для ссылки */
}

.button_sign_out button {
  min-width: 130px;
  padding: 15px;
  /* Внутренние отступы для кнопки */
  font-size: 18px;
  /* Размер шрифта для кнопки */
  font-weight: bold;
  /* Жирное начертание шрифта */
  background-color: var(--button-background-1);
  /* Цвет фона кнопки */
  transition: color .3s ease-in-out, background-color .3s ease-in-out, border-color .3s ease-in-out;
  /* Плавные переходы для изменения цветов */
  color: var(--text-color-1);
  opacity: 70%;
}

.button_sign_out button:hover {
  opacity: 100%;
  border: 1px solid var(--app-background);
  /* Обводка кнопки при наведении */
}

.profile_data {
  display: flex;
  width: 100%;
}

.image_wrapper {
  min-width: 250px;
}

@media (max-width: 990px) {

  .profile_data {
    margin-bottom: 20px;
  }

  .button_sign_out {
    display: flex;
    justify-content: flex-end;
  }
}
