.container {
  display: grid;
  /* Используем grid для создания сетки */
  place-items: center;
  /* Выравнивание элементов по центру по обеим осям */
  padding: 0 25px;
  /* Отступы слева и справа по 25px */
}
