.dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50px;
  width: 100%;
  background-color: var(--primary-background);
  overflow-y: auto;
  max-height: 200px;
  scrollbar-width: none;
}

.dropdown::-webkit-scrollbar {
  display: none;
}

.contact {
  margin-bottom: 15px;
}

.contact:hover {
  background-color: var(--content-background);
}

.contact:hover .name {
  color: var(--primary-color);
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin-right: 10px;
}

.button {
  display: flex;
  align-items: center;
  background-color: transparent;
  padding: 15px 20px;
  width: 100%;
}

.name {
  color: var(--primary-text-color);
  font-size: 20px;
  font-weight: 600;
}

@media (max-width: 650px) {
  .contact {
    font-size: 14px;
  }

  .contact img {
    display: none;
  }
}
