.list {
  display: grid;
  grid-gap: 10px;
  margin-bottom: 100px;
}

.item:first-child {
  padding-top: 20px;
}

.item:nth-child(4n) {
  margin-bottom: 50px;
}

.link {
  color: var(--primary-text-color);
  font-size: 30px;
  font-weight: 500;
  padding: 5px 40px;
}

.active {
  color: var(--active-text-color);
  background-color: var(--button-background-1);
}


