.content {
  display: grid;
  gap: 30px;
  width: 230px;
}

.title {
  font-size: 40px;
  font-weight: 500;
  color: #dcdcff;
}

.list {
  display: flex;
  gap: 18px;
  overflow-y: auto;
}

.list::-webkit-scrollbar {
  display: none;
}
