.categories {
  padding: 10px 20px;
  /* Добавляем отступы внутри блока: 10px сверху и снизу, 20px по бокам */
  background-color: var(--white-color);
  /* Устанавливаем фон блока в белый цвет (используется переменная) */
  width: 20%;
  /* Ширина блока составляет 20% от родительского контейнера */
  height: 300px;
  /* Устанавливаем фиксированную высоту блока */
}

.categories h3 {
  margin-bottom: 10px;
  /* Устанавливаем отступ снизу у заголовка */
  font-size: 20px;
  /* Задаём размер шрифта для заголовка */
}

.list {
  display: flex;
  /* Используем flexbox для выравнивания элементов внутри списка */
  flex-direction: column;
  /* Элементы будут располагаться вертикально */
}

.button {
  display: flex;
  /* Используем flexbox для выравнивания содержимого кнопки */
  width: 100%;
  /* Кнопка будет растягиваться на всю ширину родительского контейнера */
  background-color: transparent;
  /* Фон кнопки прозрачный */
  padding: 10px;
  /* Устанавливаем отступы внутри кнопки */
  font-size: 21px;
  /* Размер шрифта для текста в кнопке */
  color: var(--app-background);
  /* Цвет текста кнопки будет соответствовать фону приложения (используется переменная) */
}

.activeButton {
  background-color: var(--button-background-2);
  /* Фон активной кнопки изменяется на цвет из переменной */
  color: var(--basic-text-color);
  /* Цвет текста на активной кнопке меняется на цвет из переменной */
}

@media (max-width: 890px) {

  /* Медиазапрос для экранов шириной 890px и меньше (например, планшеты) */
  .categories {
    padding: 7px;
    /* Уменьшаем отступы внутри блока на маленьких экранах */
  }

  .button {
    font-size: 14px;
    /* Уменьшаем размер шрифта на маленьких экранах */
  }
}
