.categories {
  padding: 10px 20px;
  background-color: var(--white-color);
  width: 20%;
  height: 300px;
}

.categories h3 {
  margin-bottom: 10px;
  font-size: 20px;
}

.list {
  display: flex;
  flex-direction: column;
}

.button {
  display: flex;
  width: 100%;
  background-color: transparent;
  padding: 10px;
  font-size: 21px;
  color: var(--primary-color);
}

.activeButton {
  background-color: var(--button-background-3);
  color: var(--basic-text-color-2);
}

@media (max-width: 890px) {
  .categories {
    padding: 7px;
  }
  .button {
    font-size: 14px;
  }
}
