.item {
  background-color: #ffffff;
  padding: 20px 20px 20px 10px;
}

.container {
  display: flex;
  flex-direction: column;
}

.creator{
  display: flex;
  padding: 0 20px;
}

.avatar {
  width: 70px;
  height: 70px;
  border-radius: 50px;
  margin-right: 15px;
  background-color: #194770;
}

.info {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.info div {
  display: flex;
  align-items: center;
  gap: 2px;
}

.info h3 {
  font-size: 20px;
}

.info span {
  font-size: 20px;
  opacity: 30%;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 0 20px 0 100px;
  overflow-y: auto;
}

.content span {
  font-size: 20px;
  margin-bottom: 10px;
}

.poster {
  width: 200px;
  height: 300px;
}

@media (max-width: 900px) {
  .content {
    height: 120px;
  }
}
