.footer {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-area: footer;
  background-color: #194770;
}

.wrapper {
  display: grid;
  grid-template-areas:
    "text icons";
  grid-template-columns: auto 1fr auto;
  grid-template-rows: 60px;
  align-items: center;
  gap: 20px; /* Adjust gap between text and icons */
}

.list {
  grid-area: icons;
  display: flex;
  justify-content: flex-end; /* Align icons to the right */
  gap: 10px; /* Adjust space between icons */
  list-style: none;
  margin: 0;
  padding: 0;
}

.icon {
  display: block;
}

.copyright {
  grid-area: text;
  text-align: center;
  grid-column: 2; /* Center the text */
  color: #dcdcff;
}
