.content {
  display: grid;
  gap: 30px;
  width: 230px;
}

.title {
  font-size: 30px;
  font-weight: 600;
  color: var(--primary-text-color);
}

.list {
  display: flex;
  gap: 18px;
  overflow-y: auto;
}

.list::-webkit-scrollbar {
  display: none;
}
