.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid var(--button-background-1);
}

.user__name {
  color: var(--primary-text-color);
  font-size: 20px;
}
