.content,
.wrapper,
.terms {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.content {
  padding: 0 120px;
  margin: 0 auto;
}

.wrapper {
  padding: 30px;
  width: 100%;
  height: 1200px;
  overflow: auto;
  background-color: var(--white-color);
}

.wrapper::-webkit-scrollbar {
  display: none;
}


.title {
  color: var(--app-background);
  margin-bottom: 15px;
}

.text {
  font-size: 20px;
  margin-bottom: 15px;
  color: var(--app-background);
}

.avatar {
  width: 300px;
  border: 2px solid var(--app-background);
  margin-right: 50px;
}

.user_data_edit {
  width: 100%;
}

.user_data_edit .card {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: var(--primary-background);
  padding: 30px;
}

.about_user_edit {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--primary-text-color);
}

.list {
  display: flex;
  flex-direction: column;
  padding: 0 100px;
  gap: 20px;
}

.item {
  font-size: 22px;
  background-color: var(--primary-background);
  padding: 20px;
}

.item a {
  color: var(--primary-text-color);
}

@media (max-width: 990px) {
  .avatar {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .user_data_edit .card {
    flex-direction: column;
  }

  .about_user_edit {
    width: 100%;
  }
}
