.nav {
  grid-area: nav;
  /* Устанавливаем область для навигации в сетке, которая будет отображаться в соответствующей ячейке */
  background-color: var(--primary-background);
  /* Устанавливаем фоновый цвет с использованием переменной CSS */
  padding: 20px;
  /* Добавляем отступы вокруг содержимого внутри блока */
}
