/* .initialList, .noChat - Общий стиль для элементов, когда нет чатов или сообщений */
.initialList,
.noChat {
  display: flex;
  /* Используем flexbox для выравнивания элементов */
  flex: 1 1;
  /* Элементы могут расти и сжиматься, занимая доступное пространство */
  align-items: center;
  /* Выравниваем элементы по вертикали */
  justify-content: center;
  /* Центрируем содержимое по горизонтали */
  flex-direction: column;
  /* Располагаем элементы по вертикали */
  font-size: 27px;
  /* Устанавливаем размер шрифта */
  color: var(--app-background);
  /* Цвет текста через CSS-переменную */
}

/* .initialList - Стиль для сообщения "начните чат" */
.initialList {
  padding-top: 60px;
  /* Добавляем отступ сверху для разделения элементов */
}

/* Медиазапрос для экранов с шириной меньше 650px */
@media (max-width: 650px) {

  /* Уменьшаем размер шрифта для мобильных устройств */
  .initialList,
  .noChat {
    font-size: 14px;
    /* Размер шрифта для маленьких экранов */
  }
}
