.list {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--content-background-3);
  padding: 20px;
  margin-bottom: 20px;
}

.item {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.item h3 {
  font-size: 22px;
  margin-bottom: 5px;
  color: var(--basic-text-color);
}

.item p {
  font-size: 20px;
  margin-bottom: 15px;
  color: var(--basic-text-color);
}

.subList {
  display: flex;
  padding: 15px;
  background-color: var(--basic-text-color);
}

.subItem {
  margin-right: 30px;
  font-size: 20px;
  font-weight: 600;
  color: var(--app-background);
}

.subItem input {
  margin-right: 9px;
  scale: 1.5;
  border: 1px solid var(--app-background);
}
