.feeds {
  width: 68%;
  /* Устанавливаем ширину блока на 68% от родительского контейнера */
  overflow-y: auto;
  /* Добавляем вертикальную прокрутку, если содержимое выходит за пределы блока */
  scrollbar-width: none;
  /* Убираем стандартный вид полосы прокрутки в браузерах, поддерживающих это свойство */
}

.feeds::-webkit-scrollbar {
  display: none;
  /* Отключаем отображение полосы прокрутки в браузерах, использующих WebKit (например, Chrome, Safari) */
}

.list {
  display: flex;
  /* Используем flexbox для распределения элементов внутри списка */
  flex-direction: column;
  /* Элементы списка будут располагаться вертикально */
  gap: 30px;
  /* Устанавливаем промежуток в 30px между элементами списка */
}

.spinner {
  display: flex;
  /* Используем flexbox для центрирования элемента */
  justify-content: center;
  /* Центрируем содержимое по горизонтали */
  align-items: center;
  /* Центрируем содержимое по вертикали */
  height: 700px;
  /* Устанавливаем высоту элемента, чтобы центрировать спиннер */
}
