.feeds {
  width: 68%;
  overflow-y: auto;
  scrollbar-width: none;
}

.feeds::-webkit-scrollbar {
  display: none;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
}
